.screen {
    min-width: 250px;
    min-height: 10vh;
    background-color: rgb(171, 221, 185);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: #8e0303;
    text-align: right;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #181414;
    margin-bottom: 10px;
    width: 100px;
    border-width: 13px;
    }
