.HeaderContainer{
    background-color: black;
    color: white;
    padding-left: 15%;
    text-align: left;
    height: 500px;
    font-size: 6vw;
    font-family: 'Times New Roman', Georgia, serif;
}
